# PostgreSQL DB
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/huru?schema=public"

#Server
PORT=3000
NODE_ENV=development

#JWT
JWT_SECRET="change_this_super_secret_key"
JWT_EXPIRES_IN="1d"

#CORS
CLIENT_URL="http://localhost:5173"
